<h1> usuario id: <%=  @usuario.id %> </h1>

<h2> Nome: <%= @usuario.nome %> </h2>
<h2> Email: <%= @usuario.email %> </h2>
<h2> Login: <%= @usuario.login %> </h2>
<%= link_to 'voltar', usuarios_path %>